* {
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0;
    margin: 0 auto;
    width:50%;
}
header{
    margin: 20px 0px 40px 0px;
    width: 80%;
}
h2{
    padding-left: 40%;
    
}
li:hover{
    background-color:#f2f2f2;
    
}
li{
    list-style: none;
    background-color:#DF6021;
    height:20px;
}
.total{
    display: flex;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.clear-button{
    position:absolute;
    right: 0px;
    height: 39px;
    padding:10px 10px 10px 0px;
    margin-right: 0%;
    background-color:#f2f2f2;
    border-style: none;
    display: none;
}
.text-input-area #inputBox{
    
    width: 100%;
    padding: 10px 40px 10px 0px;
    background-color:#f2f2f2;
    outline: 0;
}
ul{
    max-height:60px;
    overflow: auto;
    width: 80%;
    padding-left: 10%;
    padding-right: 0%;    
}

